@charset "utf-8";
 
  
* {
  box-sizing: border-box;
}

img
 {
  width: 95%;
  height: auto;
}

 ul {
	 list-style-type: none;
	 
	}
li {
    padding-right: 0.5rem;
}

picture {
	width: 100%;
}

@media all and (min-width: 800px) and (max-width: 900px) {
 
  li {
    float: left;
    width: 50%;
    }
	
	
}

@media all and (min-width: 900px) and (max-width: 1024px) {
	
	li {
      float: left;
      width: 50%;
    }
	
}
@media all and (min-width: 1024px) {

	
  li {
    float: left;
    width: 33.33%;
    }
	
}



